@media (max-width: 1024px) {
    .menu{
        width: 75%;
        font-size: 16px;
    }
    .btn-buy{
        border-radius: 10px;
    }
    .btn-buy a{
        font-size: 16px;
        padding: 6px 12px;
        font-weight: 500;
    }
    .video-header{
        font-size: 24px;
    }
  }
@media (max-width: 768px) {
    .logo{
        display: none;
    }
    .menu{
        width: 100%;
        font-size: 18px;
    }
    .btn-buy{
        border-radius: 8px;
    }
    .btn-buy a{
        font-size: 13px;
        padding: 6px 12px;
        font-weight: 500;
    }
    .video-header{
        font-size: 18px;
    }
    .footer{
        display: none;
    }
  }
  @media (max-width: 480px) {
    .menuitem-destop{
        display: none;
    }
    .menuitem-mobile{
        display: block;
    }
    .logo{
        display: none;
    }
    .header{
        height: 80px;
    }
    .menu{
        width: 100%;
        font-size: 10px;
        gap: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 16px;   
    }
    .container{
        padding: 6px 12px;
    }
    .menu-item{
        padding:8px;
        text-wrap: nowrap;
        height: 12px;
    }
    .btn-buy{
        border-radius: 4px;
    }
    .btn-buy a{
        font-size: 10px;
        padding: 4px 8px;
        font-weight: 500;
    }
    .wrapbtn{
        transform: translate(-35%, -50%);
    }
    .video-header{
        margin-left: 8px;
        font-size: 10px;
    }
    .footer{
        display: none;
    }
    .footer-mobile{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #c00;
        border-top-left-radius:20px ;
        border-top-right-radius:20px;
        margin-top: 30px;
    }
    .footer-mobile .footer-form{
        margin-bottom: 20px;
        width: 60%;
    }
    .footer-mobile .footer-form input{
        max-width: 100px;
    }
    /*  */
    .wrap-video{
        padding: 20px 0;
    }
    .video-list{
        padding-top: 20px;
    }
    .video-left video{
        border-radius: 10px;
    }
    .video-item h1{
        font-size: 7px;
        font-weight:600;
        padding-bottom: 10px;
    }
    .video-item a{
        font-size: 6px;
        font-weight: 400;
        padding-bottom: 20px;
    }
    .video-item{
        width: 50%;
        gap: 8px;
    }
    .video-item-content{
        width: 90%;
    }
    .video-arrow img{
        width: 6px;
    }
    .video-item-img .thumsnail{
        width: 90%;
    }
    .video-item{
        justify-content: start;
    }
    .wrap-video{
        flex-direction: row-reverse;
    }
    .playvideo{
      width: 10px;
      height: 10px;
      }
      .video-left {
        padding-top: 28px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #youtube-video{
        width: 400px;
        height: 250px;
    }
    .contact-img{
        display: none;
    }
    .form{
        padding: 8px;
      }
      .contact-wrap{
     width: 100%;
      }
      .contact-form{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 30px;
      }
      .form-title{
        font-size: 14px;
        font-weight: 600;
        padding: 16px 0;
      }
      /* .form-item{
        display: flex;
        align-items: center;
        padding: 10px;
      } */
      .form-item p{
        font-size: 10px;
      }
      .form-item input{
        margin-left: 8px;
        padding: 6px;
        border-radius: 6px;
        font-size: 10px;
      }
      .callnow{
        padding: 20px 10px;
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 16px;
        cursor: pointer;
        transition: all 0.2s ease;
      }
      .callnow img{
        width: 20px;
      }
      .callnow:hover{
        background-color: rgb(168, 0, 0);
    }
      .callnow p{
        font-size: 14px;
        font-family: "Inter", serif;
      }
      .video-item a{
        display: none;
      }
      .contact-wrap{
        margin-top: 0;
      }
  }